@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto+Mono&display=swap');

:root {
	--dark01: #141414;
	--dark02: #202020;
	--dark03: #292929;
	--dark04: #343434;
	--light01: #fff;
	--light02: #e9e9e9;
	--light03: #bfbfbf;
	--light04: #b8b8b8;
	--yellow: #e1c300;
	--cnf-fg: #b0a990;
	--cnf-bg: #202030;
	--mors01: #263238;
	--mors02: #303046;
	--teal: #008080;
	--shadow-clr: #00000065;
	--card-shadow-clr: #00000045;
}

html {
	scroll-behavior: smooth;
}

::selection {
	color: var(--yellow);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--dark02);
	color: var(--light01);
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--light01);
}

.contained {
	width: 90%;
	min-height: 100vh;
	padding-top: 4em;
	margin: auto;
}

.regular-text {
	letter-spacing: 0.1em;
	line-height: 1.5em;
}
