@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto+Mono&display=swap');

:root {
	--dark01: #141414;
	--dark02: #202020;
	--dark03: #292929;
	--dark04: #343434;
	--light01: #fff;
	--light02: #e9e9e9;
	--light03: #bfbfbf;
	--light04: #b8b8b8;
	--yellow: #e1c300;
	--cnf-fg: #b0a990;
	--cnf-bg: #202030;
	--mors01: #263238;
	--mors02: #303046;
	--teal: #008080;
	--shadow-clr: #00000022;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* + * {
	margin-top: 1em;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--dark03);
	color: var(--light02);
	margin-top: 0;
	min-height: 100vh;
}

#root {
	margin: 0 auto;
	width: 90vw;
}

a {
	text-decoration: none;
	color: var(--light01);
}
