#home {
	background-image: url(../../assets/intro-bg.svg);
	background-position: bottom right;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.introduction-illustration {
	display: none;
}

.greeting {
	font-size: 2rem;
	line-height: 1.2em;
	letter-spacing: 0.05em;
}
.greeting span {
	display: block;
	justify-self: start;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: normal;
	font-size: 1rem;
}

.brief-introduction {
	margin: 0.8em 0;
	letter-spacing: 0.05em;
}

@media (min-width: 700px) {
	.intro {
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
	}

	.greeting {
		font-size: 2.5rem;
	}
	.greeting span {
		font-size: 1.2rem;
	}
	.brief-introduction {
		font-size: 2rem;
	}
	.detailed-introduction {
		font-size: 1.2rem;
	}
}

@media (min-width: 1000px) {
	#home {
		background-image: none;
	}

	.intro {
		text-align: start;
	}

	.introduction-illustration {
		display: block;
		object-fit: cover;
		object-position: left top;
		width: 40%;
	}

	.introduction-text {
		width: 50%;
	}
}
