.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(61, 61, 61);
	width: 100%;
	position: fixed;
	padding: 0 5vw;
	transition: border-bottom-left-radius 0.3s, height 0.3s ease;
	height: 4em;
	border-bottom-left-radius: 0;
	box-shadow: 0 3px 10px var(--shadow-clr);
}

.open {
	height: 70%;
	border-bottom-left-radius: 5em;
	background-color: var(--yellow);
}

.open .logo {
	background-image: url(../../assets/logo-inverted.svg);
}
.nav ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	transform: translateY(-70vh);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
	height: 50%;
	justify-content: space-between;
}

.logo {
	position: absolute;
	left: 5vw;
	top: 1em;
	background-image: url(../../assets/logo.svg);
	background-size: contain;
	width: 2em;
	height: 2em;
	transition: transform 0.3s ease-in-out;
}

.logo:hover,
.logo:focus {
	transform: scale(1.2);
}

.logo span {
	display: none;
}

.nav-toggle {
	position: absolute;
	right: 5vw;
	top: 1em;
	height: 2em;
	width: 2em;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.nav-toggle span {
	position: relative;
}

.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
	display: inline-block;
	background-color: var(--light01);
	height: 3px;
	width: 100%;
	border-radius: 1.5px;
	transition: transform 0.3s ease, top 0.3s ease, width 0.3s ease,
		opacity 0.3s ease;
}

.nav-toggle span::before,
.nav-toggle span::after {
	content: '';
	position: absolute;
}

.nav-toggle span::before {
	top: -0.5em;
}
.nav-toggle span::after {
	top: 0.5em;
	width: 1.2em;
	right: 0;
	opacity: 1;
}

.X span::before {
	transform: rotateZ(-90deg);
	top: 0;
}

.X span::after {
	opacity: 0;
}

.X span {
	transform: rotateZ(45deg);
	top: 0;
}

.X + ul {
	transform: translateY(0);
	opacity: 1;
}

.nav li {
	font-size: 1.2rem;
	transform: translateY(-200%);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
	text-align: center;
}

.nav li:nth-child(1) {
	transition-delay: 0.4s;
}

.nav li:nth-child(2) {
	transition-delay: 0.3s;
}

.nav li:nth-child(3) {
	transition-delay: 0.2s;
}

.nav li:nth-child(4) {
	transition-delay: 0.1s;
}

.open li {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 0;
}

.nav li a {
	position: relative;
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;
}

.nav li a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.2em;
	border-radius: 0.1em;
	background-color: var(--light01);
	bottom: -0.2em;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.3s ease;
	transform-origin: right;
}
.nav li a:hover::after,
.nav li a:focus::after {
	transform: scaleX(1);
	transform-origin: left;
}

@media (min-width: 700px) {
	.nav {
		justify-content: flex-end;
	}
	.nav-toggle {
		display: none;
	}
	.nav ul {
		transform: none;
		opacity: 1;
		flex-direction: row;
		align-items: center;
		transition: none;
	}

	.nav li {
		transform: none;
		transition: none;
		opacity: 1;
		margin-left: 2em;
		text-transform: uppercase;
	}

	.open {
		height: 4em;
		border-bottom-left-radius: 0;
		background-color: var(--dark02);
	}

	.open .logo {
		background-image: url(../../assets/logo.svg);
	}

	.nav li a {
		font-family: 'Montserrat', sans-serif;
		font-weight: 200;
		letter-spacing: 0.2em;
	}

	.nav li a::after {
		background-color: var(--yellow);
	}

	.link-icon {
		display: none;
	}
}
