.work {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.projects {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 100%;
	background: var(--dark03);
	margin-bottom: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	border-radius: 0.2em;
	box-shadow: 0 0.1em 1em var(--card-shadow-clr);
	transition: transform 0.3s ease;
}

.project:hover,
.project:focus {
	transform: scale(1.03);
}

.project-avatar {
	width: 15%;
	min-width: 4em;
}

.project-name {
	font-size: 1.5rem;
	letter-spacing: 0.06em;
	margin: 0.5em 0;
}

.project-desc {
	letter-spacing: 0.06em;
	margin: 1em 0 1em;
}

.project-tools {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3em;
}

.project-tools li {
	padding: 0.3em 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	background-color: var(--dark02);
	color: var(--light03);
	border-radius: 2em;
	font-family: 'Roboto Mono', sans-serif;
}

.project-links {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.project-links a {
	font-size: 1.6em;
	outline: none;
	transition: color 0.3s ease;
	color: var(--light04);
}

.project-links a:hover,
.project-links a:focus {
	color: var(--yellow);
}

@media screen and (min-width: 650px) {
	.projects {
		justify-content: space-between;
	}

	.project {
		width: 49%;
		justify-self: center;
	}
}

@media screen and (min-width: 1000px) {
	.project {
		width: 32%;
		margin-bottom: 0;
	}
} ;
